.all-recipes-link {
  padding: 0px 0px 30px 20px;
  font-weight: bolder;
}

.recipe-chef {
  padding: 10px 0px;
  font-style: italic;
}

.recipe-title {
  font-size: 29px;
  font-weight: bolder;
}

.recipe-tags{
  color: darkgreen;
  font-weight: 600;
}

.recipe-calories {
  float: right;
  color: red;
  font-weight: 700;
  margin-top: -30px;
  padding: 10px 0px;
}


.recipe-description {
  padding: 20px 0px;
}